.MainChat
  .GroupInfo
    .GroupInfo__Group
      .GroupInfo__Group__name
        = @group.name
      .GroupInfo__Group__member
        %span Member : 
        - @group.users.each do |user|
          %span
            = user.name
    = link_to "Edit", "#", class: "GroupInfo__button"
  .MessageList
    = render @messages
  .MessageForm
    = form_with model: [@group, @message], html: {class: "MessageForm__Form"}, local: true do |f|
      .MessageForm__Form__FormContents
        = f.text_field :body, class: "MessageForm__Form__FormContents__text", placeholder: "type a message"
        = f.label :image, class: "MessageForm__Form__FormContents__image" do
          = icon("far", "image")
          = f.file_field :image, class: "Hidden"
      = f.submit "Send", class: "MessageForm__Form__send"