.SideBar
  .UserName
    .UserName__TopItems
      .UserName__TopItems__name
        = current_user.name
      %ul.UserName__TopItems__Icons
        %li.UserName__TopItems__Icons__icon
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.UserName__TopItems__Icons__icon
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .GroupList
    - current_user.groups.each do |group|
      .GroupList__Group
        = link_to group_messages_path(group.id) do
          .GroupList__Group__name
            = group.name
          .GroupList__Group__message
            = group.show_last_message
